@import "../../../assets/styles/common.scss";


.single-icon i {
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: 1px solid #747474;
    line-height: 46px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .single-icon p {
    line-height: 30px;
  }

 
  .cusForm{
    font-family: "Open Sans", sans-serif;  
    font-size: 14px;
    font-weight: 300;
     color:#021b41; 

 }
