<div class="container">
    <div class=" admission">
            <div class="text-center">
               <p class="margin-bottom-0 ShowDesktop"> Paras Vidya Vihar is a Place Your Child Learns To
                 <span class="rotate-words rotate-words-animate">
                    <span>Respect Others</span>
                    <span>Value Learning</span>
                    <span>Succeed</span>
                    <span>Enjoy School</span>
                </span> 
                </p>
                <p class="margin-bottom-0 ShowMobile"> Paras Vidya Vihar is a Place Your Child Learns To Succeed </p>
            </div>
            <p class="text-center">
             <a class=" admission" routerLink='academics/admissions'>Admissions Open for the session 2019-20</a>   
            </p>
    </div>

    <div class="row py-3">
        <div class="col-lg-4 col-sm-12 col-md-4 col-xl-4">
            <div [innerHtml]="yt_iframe_html"></div>

        </div>
        <div class="col-lg-8 col-sm-12 col-md-8 col-xl-8">
            <!-- <div class="academic-structure">
                <span>
                    Academic Structure
                    <span class="sepration-line"></span>
                </span>

            </div>
            <div class="py-2">
                <div class="card cusInline" style="width: 11rem;">
                    <div class="card-body">
                        <ul class="text-center">
                            <li>
                                Aadhar
                            </li>
                            <li>
                                PRIMARY
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card cusInline" style="width: 11rem;">
                    <div class="card-body">
                        <ul class="text-center">
                            <li>
                                Prangan
                            </li>
                            <li>
                                JUNIOR SCHOOL
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card cusInline" style="width: 11rem;">
                    <div class="card-body">
                        <ul class="text-center">
                            <li>
                                Sopaan

                            </li>
                            <li>
                                MIDDLE SCHOOL
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card cusInline" style="width: 11rem;">
                    <div class="card-body">
                        <ul class="text-center">
                            <li>
                                Shikhar
                            </li>
                            <li>
                                SENIOR SCHOOL
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <div class="blue-box">
                <div>
                  !! गुरुर ब्रह्मा गुरुर विष्णु गुरुर देवो महेश्वरः
                  गुरुः साक्षात्परब्रह्मा तस्मै श्री गुरुवे नमः !!
                </div>
                <div class="py-2"></div>
                <div>
                  Service to mankind, the Trust’s first venture is Paras Vidya Vihar, a preferred first choice today for
                  education in Sagar.
                </div>
              </div>
        </div>
    </div>
</div>

