<div class="home-heading p-4 ">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-3">
          <a>
             <h3>Admission Procedures</h3>
            <ol class="breadcrumb text-centre">
              <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
              <li class="breadcrumb-item active"> Academics </li>
              <li class="breadcrumb-item active"> Admission </li>
            </ol>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="row">
    <div class="col-lg-12">
      <h2 class=" text-center py-3">
          Admissions are Open for 2019-20
      </h2>
      <span class="sepration-line"></span>

      <div class=" py-3 cusHeading"> Registration: </div>
      <ul class="parasUl ulSquare">
        <li>
          Registrations for Pre-School (Nursery) would be in the third week of November every year. Registration forms
          can be obtained from the school office.
        </li>
        <li class="py-1">
          The norms for admission process are followed carefully to provide equal opportunity to all applicants and to
          maintain transparency in the admission procedure.
        </li>

      </ul>
      <div class=" py-3 cusHeading"> Age limit: </div>
      <ul class="parasUl ulSquare">

        <li>
          The child should complete the age of 3 years as on 31st of March.
        </li>
      </ul>
      <div class=" py-3 cusHeading"> Documents Required: </div>
      <ul class="parasUl ulSquare">

        <li>
          Two Passport Size photograph of the child.
        </li>
        <li class="py-1">
          Birth Certificate issued by municipal corporation or other competent authority.
        </li>
        <li>
          Address proof, SAMAGRA ID, Aadhar Card, Caste Certificate and Copy of Bank Pass book of child if eligible for
          government scholarship.
        </li>
        <li class="py-1">
          Parents are requested to produce the attested photocopies of all the relevant documents at the time of
          admissions and submit the same along with the school registration form completed in all respect at the school
          office.
        </li>

      </ul>
      <div class=" py-3 cusHeading"> General: </div>
      <ul class="parasUl ulSquare">

        <li>
          For further assistance on admission please feel free to contact the admission in charge @ 07582-237677,
          260521. </li>
        <li class="py-1">
          Mail your queries to <font>info@parasvidyavihar.org</font> or <font>parasvidyavihar@yahoo.co.in </font> for
          admission to higher classes.
        </li>
        <li>
          On confirmation of admission from the school, fees are to be deposited within 03 working days, failing which
          the seat will be offered to the next candidate on the waiting list.
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="py-3"></div> -->