@import "../../../assets/styles/common.scss";

 .cusHeading{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
     color:#021b41; 
  
    font-size: 24px;
 }

 font{
     color: blue;
     font-weight: 500;
 }
 font:hover{
    color: blue;
    text-decoration: underline;
 }