<div class="home-heading p-4 ">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-3">
          <a>
             <h3>Disclaimer</h3> 
            <ol class="breadcrumb text-centre">
              <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
              <li class="breadcrumb-item active"> Disclaimer </li>
            </ol>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="row">
    <div class="col-lg-12">
      <h2 class=" text-center py-3">
        Disclaimer
      </h2>
      <span class="sepration-line"></span>

      <div class=" py-3 cusHeading"> Content Disclaimer </div>
      <ul class="parasUl">
        <li>
          All online content provided in this website (<a href="http://parasvidyavihar.org" target="_blank">http://parasvidyavihar.org/</a>) is
          provided for information purposes only. It should not be regarded as an offer, solicitation, invitation or
          advice regarding any service or offer.
        </li>

      </ul>
      <div class=" py-3 cusHeading"> External Links </div>
      <ul class="parasUl">

        <li>
          The Paras Vidya Vihar website may contain hyperlinks to other Internet resource links or external websites
          which are
          not affiliated with Paras Vidya Vihar. These hyperlinks or external resource information is provided solely
          for the
          user’s convenience and are accessed at your own risk. The content, accuracy, legality of or restrictions
          imposed or opinions expressed by such links are not investigated, verified, monitored, nor endorsed by
          Paras Vidya Vihar.
        </li>

        <li class="py-2">
          When you access an external website through a hypertext link, you are accepting that this access is at your
          own risk. Consequently, Paras Vidya Vihar will not be liable for any loss or damage arising directly or
          indirectly
          from the accuracy or otherwise of materials or information contained on the pages of such sites, or for any
          loss arising directly or indirectly from the defects with such sites.
        </li>

      </ul>

      <div class=" py-3 cusHeading"> Submission of Information </div>
      <ul class="parasUl">

        <li>
          Submissions of information to Paras Vidya Vihar through its website and pages thereon shall be deemed to be
          the
          property of Paras Vidya Vihar. Please note that Paras Vidya Vihar does not warrant that any e-mail from its
          web site is secure
          and does not guarantee that any such e-mail from you or from Paras Vidya Vihar is secure during internet
          transmission.

        </li>

      </ul>
      <div class=" py-3 cusHeading"> Miscellaneous </div>
      <ul class="parasUl">

        <li>
          This Disclaimer Policy shall be construed in accordance with the laws of India, and the parties’ irrevocably
          consent to bring any action to enforce this under the exclusive jurisdiction of Courts of Sagar,
          Madhya Pradesh.
        </li>

      </ul>
     
      <div class="py-3"></div>
    </div>
  </div>
</div>