@import "../../../assets/styles/common.scss";

  h2 {
    font-family: 'Assistant', sans-serif;
    color: #68aada;
    font-size: 32px;
    font-weight: 200;
    line-height: 1.1;
 }

 font{
    color: blue;
    font-weight: 500;
}
font:hover{
   color: blue;
   text-decoration: underline;
}

