<div class="home-heading p-4 ">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-3">
          <a>
            <h3>Careers</h3> 
            <ol class="breadcrumb text-centre">
              <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
              <li class="breadcrumb-item active"> Career </li>
            </ol>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="row">
    <div class="col-lg-12">
      <h2 class=" text-center py-3">
        Careers | A great place to work
      </h2>
      <span class="sepration-line"></span>
      <div class="py-3"></div>

      <div class="row">
        <div class="col-lg-12">
            <ul class="parasUl">
                <li>
                  Applications are invited from Graduates/Post Graduates with good academic record, Excellent communication
                  skills and proven ability in teaching & co curricular activities. Proficiency in English Language is a must.
                </li>
                <li class="py-4">
                  We value equality, innovative ideas and commitment to quality in our employees. Further, we are meritocratic
                  and great work never goes unnoticed or unrewarded at Paras Vidya Vihar.
        
                </li>
                <li>
                  Salary will not be a constraint for the right candidate. It will commensurate with qualifications
                  and experience.
                </li>
                <li class="py-4">
                    If you want to be a part of our growth story, are young and vibrant and want to realize your true potential,
                    call us @ 07582-260521 or email us at <a href="mailto:info@parasvidyavihar.org">info@parasvidyavihar.org</a> 
                </li>
                <li class="text-center">
                    <img src="../../../assets/images/careers.jpg" class="text-center">
                </li>
        
              </ul>
        </div>
      </div>

      
    </div>
  </div>
</div>

<div class="py-3"></div>