<div class="container">
  <div class="row">
     <a routerLink='/' class="logo"> <img src='../../assets/images/New-Mono-17.png'  /></a> 
      <p class="customeSchoolNameDesign"> PARAS VIDYA VIHAR 
      <span class="tagline">ENCOURAGE • EDUCATE • EMPOWER </span>
      <span class="tagline"> Affiliated to CBSE, New Delhi  </span></p>
  </div>
</div>

<nav class="navbar navbar-expand-sm navbar-custom" id="mainNav">
   <div class="container">
     <a class="navbar-toggler navbar-brand text-white" >Menu</a>
      <button (click)="toggleNavbar()" class="navbar-toggler navbar-toggler-right" type="button" >
      <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav menuParas" (click)="clickedInside($event)">
            <li class="nav-item">
              <a class="nav-link" routerLink='/'>Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                About Us
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink='about/directorDesk' >From the Director desk</a>
           
                <a class="dropdown-item dropdown-toggle submenu"  data-toggle="dropdown">CBSE Disclosure
                   <div class="dropdown-menu">
                    <a class="dropdown-item" target="_blank"  href='/assets/docs/Book-List-2019-2020.pdf' >Book List for Session 2019-20</a>
                    <a class="dropdown-item" target="_blank"  href='/assets/docs/Fees-Details-2019-2020.pdf'> Fees Details for Session 2019-20</a>
                  </div>
                </a>  
                
              
              </div>
              
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
                Academics
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink='academics/admissions' >Admission</a>
                <a class="dropdown-item" target="_blank"  href='/assets/docs/List_of_confirm_admissions_for_session_2014-15.doc.pdf' >Confirmed Admission for Current Session</a>
                <a class="dropdown-item" routerLink='academics/time-table'>Time Table</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" >Result</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" target="_blank"  href='/assets/docs/Rank by result (Junior).xlsx' >Junior</a>
                <a class="dropdown-item" target="_blank"  href='/assets/docs/Rank by result (senior).xlsx' > Senior </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                Co-Curricular Activities
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink = "/houses">Houses</a>
                <a class="dropdown-item" routerLink = "/clubs">Club</a>
                <a class="dropdown-item" >Activity</a>
                <a class="dropdown-item" >Awards and Honors</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/infrastructure">Infrastructure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink = "/alumni-registration">Alumni</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/careers'>Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/contact-us'>Contact Us</a>
            </li>
          </ul>
    </div>
 
   </div>
</nav>

