.top-header {
  background: black;
  color: white;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.logoWrapper {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.heading-wrapper {
  text-align: center;
  display: inline;
}

.stayConnected {
  display: inline;
}

.social {
  display: inline;
}

.social-link {
  padding: 5px;
  float: right;
}

.customeSchoolNameDesign {
  color: #2B3232;
  font-family: "Assistant", sans-serif;
}

.tagline {
  font-family: "Assistant", sans-serif;
  color: #2B3232;
}

// .dropdown-menu {
//   background-color: #8bd2f4;
//   font-weight: 300;
// }



.navbar-custom {
  background-color: #2B3232;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

// /* change the brand and text color */
// .navbar-custom .navbar-text {
//   color: #ffffff;
// }

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}


/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #97EEFF;
}

.navbar-custom .navbar-nav .nav-item .dropdown-menu a:hover{
  color: #ffffff;
  background-color: #2B3232;
}

.submenu {
  position: relative;
}

 a.submenu::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 8px;
  top: 19px;
}

.submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

a.submenu:hover,a.submenu:active, a.submenu .dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
  color: #000 !important;
}