.blue-box {
    text-align: center;
    border: 1px solid #efefef;
    background: #38598b;
    color: #fff;
    padding: 23px 20px;
    height: 180px;
    font-family: "Open Sans", sans-serif;  
    font-size: 16px;
    font-weight: 300;
}

.yellow-box{
    background: #8bd2f4;
    border: 1px solid #efefef;
    height: 180px;
    padding: 50px 20px;
    font-family: "Open Sans", sans-serif;  
    font-size: 16px;
    font-weight: 300;
}
    .padding-0{
        padding:0 !important;
        margin:0 !important;
    }


ul{
    list-style-type: none;
}

ul,li{
    list-style-type: none;
}