

<div class="container">
    <hr class="featurette-divider py-3 ">
  <div class="row">
    <div class="col-lg-7 padding-0">

      <div class="blue-box">

        <div>
          <div>
            !! गुरुर ब्रह्मा गुरुर विष्णु गुरुर देवो महेश्वरः
            गुरुः साक्षात्परब्रह्मा तस्मै श्री गुरुवे नमः !!
          </div>
          <div class="py-2"></div>
          <div>
            Service to mankind, the Trust’s first venture is Paras Vidya Vihar, a preferred first choice today for
            education in Sagar.
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-5 padding-0">
      <div class="yellow-box">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">

                  <ul class="text-center">
                    <li>
                        Amongst top 5 in Country
                    </li>
                    <li>
                        and No.1 
                    </li>
                    <li>
                        School in Bhopal
                    </li>
                  </ul>
                   
                </div>
                <div class="carousel-item">
                    <ul class="text-center">
                        <li>
                            Amongst top 5 in Country
                        </li>
                        <li>
                            and No.1 
                        </li>
                        <li>
                            School in Bhopal
                        </li>
                      </ul>
                </div>
                <div class="carousel-item">
                    <ul class="text-center">
                        <li>
                            Amongst top 5 in Country
                        </li>
                        <li>
                            and No.1 
                        </li>
                        <li>
                            School in Bhopal
                        </li>
                      </ul>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
      </div>
    </div>
  </div>
</div>