@import "../../../assets/styles/common.scss";

.breadcrumb{
    background: transparent !important;
    margin-left: 480px;
}

.breadcrumb-item active{
    color: #2d66a0;
}

.cusInline{
    display: inline-block;
    padding: 5px;
    margin: 10px;

    &:hover {
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
    }
}