<div class="home-heading p-4 ">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-3">
          <a>
            <h3>Time Table</h3>

            <ol class="breadcrumb text-centre">
              <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
              <li class="breadcrumb-item active"> Academics </li>
              <li class="breadcrumb-item active"> Time Table </li>
            </ol>

          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="row">
    <div class="col-lg-12">
      <h2 class=" text-center py-3">
        Time Table
      </h2>
      <span class="sepration-line"></span>
      <div class="py-3"></div>

      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
          <ul class="parasUl ulSquare">
            <li>
              <a target="_blank">Pre Primary Time Table</a>
            </li>
            <li class="py-1">
                <a>Time Table for Classes I to X</a>
            </li>   
            <li>
                <a>Time Table for Classes XI  & XII</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
          <img src="../../../assets/images/calendar-icon.png"  alt="Time Table">
        </div>
      </div>


    </div>
  </div>
</div>

<div class="py-3"></div>

