<app-slider></app-slider>
<div class="py-3"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class=" text-center py-1">
                Welcome to Paras Vidya Vihar
            </h2>
            <span class="sepration-line"></span>
            <p class="py-3 text-center ">
                Paras Vidya Vihar is a path breaking initiative to launch a world class learning institution benchmarked
                against international standards of teaching and seeks to be the school of choice for the Indian global
                citizens of tomorrow.

                The team members of Paras Vidya Vihar, Sagar realise that if they are to achieve the objectives of
                institution they must lead by example and every member of the team is fully committed to provide this
                leadership through - Striving for continuous and constant improvement, Working with ethics and
                integrity, Being obsessed with quality,Respecting values and contribution of individual.

            </p>

        </div>
    </div>
    <div class="py-"></div>
    <div class="row py-3">

        <div class="col-md-4">
            <div class="light-border white-panel">

                <div class="text-center py-3">
                    <img src="../../../assets/images/proximity.png">
                </div>

                <h6 class="py-2 text-center">Proximity</h6>

                <div class="academic-text text-center">
                    Located in Tilli Ward, Sagar, MP, a decent
                    location. Plus we have proper and reliable school buses to pick and drop your children on time, so
                    there
                    is nothing to worry about.<br><br>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="light-border white-panel">

                <div class="text-center py-3">
                    <img src="../../../assets/images/teacher.png">
                </div>

                <h6 class="py-2 text-center">Ideal Teacher Student Ratio</h6>

                <div class="academic-text text-center">
                    The perfect teacher-student ratio has made us one of the best CBSE board schools in Sagar. Unlike
                    other schools, we don’t have a limited number of qualified teachers to teach our students.

                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="light-border white-panel">

                <div class="text-center py-3">
                    <img src="../../../assets/images/safety.png">
                </div>

                <h6 class="py-2 text-center">Safety First </h6>

                <div class="academic-text text-center">
                    At our school in Sagar the students’ safety is equally
                    important as quality education is. High-end CCTV cameras continuously monitor all the activities on
                    our premises.<br><br>
                </div>

            </div>
        </div>

    </div>
    <hr class="featurette-divider py-2 ">


</div>
<app-academic-structure></app-academic-structure>
<!-- <app-awards></app-awards> -->
<app-events></app-events>
<app-gallery></app-gallery>