<div class="home-heading p-4 ">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-3">
          <a>
             <h3>Houses</h3> 
            <ol class="breadcrumb text-centre">
              <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
              <li class="breadcrumb-item active " style="cursor: default;" >Co-Curricular Activities</li>
              <li class="breadcrumb-item active" >Houses</li>
            </ol>

          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="row">
    <div class="col-lg-12">
      <h2 class=" text-center py-3">
        Houses
      </h2>
      <span class="sepration-line"></span>
      <ul class="parasUl">
        <li class="py-3">
          Paras Vidya Vihar has alienated the pupils into three houses i.e Shivaji House, Subhash House and Sarojini
          House. This is to imbibe in them competitive spirit and the quality of staging.
        </li>
      </ul>
    </div>
  </div>

  <div class="row py-4">

    <div class="col-lg-3 text-center">
      <img src="../../../assets/images/shivaji.jpg" alt="Shivaji House" >
    </div>
    <div class="col-lg-9">
      <ul class="parasUl">
        <li>
          <b>Shivaji Bhosle </b> an Indian warrior from 17th century established a competent and progressive civil rule
          with the
          help of a disciplined military and well structured administrative organization.
        </li>
        <li class="py-1">
          The students of Shivaji House are categorized to develop their skills Of leadership, creative and logical
          approach and to imbibe in them
        </li>
      </ul>
      <div class="py-2"></div>
     <p> <b>Strength -</b> </p>
      <ol class="parasUl">
        <li>
            Strength of speech, strength of action and strength of supremacy.
        </li>
        <li>
          Our motive is to mould each student of this house into an impressive, self-sufficient, and dignified
          personality.
        </li>
        <li>
          This House provides the students the opportunity to gain excellence in all spheres through various activities.
        </li>
      </ol>
      <div class="py-2"></div>

      <ul class="parasUl">
        <li>
          DAILY UPDATES - News, Thoughts and Facts in the assembly
        </li>
        <li>
          BULLETIN BOARD DISPLAYS
        </li>
        <li>
          CATECHIZE - Weekly Quiz Questionnaire
        </li>
        <li>
          PHYSICAL DEVELOPMENT-March past, Yoga, Sport competitions and games
        </li>
        <li>
          THEATRE SKILLS - Dramatics, vocal presentations and dance performances
        </li>
      </ul>

    </div>
  </div>

  <hr class="featurette-divider py-3 ">

  <div class="row">

    <div class="col-lg-3 text-center">
      <img src="../../../assets/images/subhash-bose.jpg"  alt="Subhash Bose House">
    </div>
    <div class="col-lg-9">
      <ul class="parasUl imgCus">
        <li>
          <b>Subhas Chandra Bose</b>, A wise and brave personality, Legend among the freedom fighters, is our role
          model.
        </li>
        <li class="py-3">
          We pick his principles to imbibe the same in our students. Our assembly activities include house wise
          presentation of moral thoughts, quiz, news, notice boards, displays, skits, etc which proves to be the
          eye-breaker for the viewers.
        </li>
        <li>
          Hence we develop in our students determination to achieve their targeted goals with immense competitive skills
          not underestimating unity and discipline in the group </li>
      </ul>
      
    </div>
  </div>

  <hr class="featurette-divider py-3">

  <div class="row">

    <div class="col-lg-3 text-center">
      <img src="../../../assets/images/sarojini-naidu.jpg"  alt="Sarojini Naidu House" class="imgCusNaidu">
    </div>
    <div class="col-lg-9">
      <ul class="parasUl imgCus">
        <li>
         <b>Sarojini Naidu - THE NIGHTINGALE OF INDIA</b>  raised the issues of welfare youth, Dignity of labor, women’s
          emancipation and nationalism.
        </li>
        <li class="py-3">
          Sarojini House works on the great values and thoughts of Sarojini Naidu to enable children with an eclectic
          multi skilled education that grants holistic development.
        </li>
      </ul>
      <div class="py-1"></div>
      <p>Our goals rely on five points:</p>
      <ol class="parasUl">
        <li>
            To enhance the talent of young students through cultural, Sports and educational activities.
         </li>
         <li>
            To develop high calibre human resources
         </li>
         <li>
            To impart and enrich ethical values
         </li>
         <li>
            To enhance the Indian ethos of cultural and secular tradition
         </li>
         <li>
            To establish self confidence through competitive learning environment
         </li>
      </ol>

    </div>
  </div>

</div>

<div class="py-3"></div>