<div class="home-heading p-4 ">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-3">
          <a>
             <h3>Clubs</h3> 

            <ol class="breadcrumb text-centre">
              <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
              <li class="breadcrumb-item active"> Co-Curricular Activities </li>
              <li class="breadcrumb-item active"> Clubs </li>
            </ol>

          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-4 clubImg">
<h2 class=" text-center py-3"> Clubs </h2>
<span class="sepration-line"></span>
<div class="py-3"></div>
<p>Various clubs enhance the innate talent of each and every student in the skills of their choice. We feel it our pleasure to introduce our assorted leader boards.</p>

<p><strong class="colorHeader">1. ENGLISH LITERATURE CLUB</strong></p>
<p><strong><em>&ldquo;Uprising of future leaders, enhancing interactive capabilities&rdquo;</em></strong></p>
<p>Language is the lens through which human beings perceive the world. If so why English is the most distorting lens through which we see the world.</p>
<p><img alt="pic english literature degree" src="../../../assets/images/pic_english_literature_degree.jpg" height="189" width="286">Literature club has been carrying the responsibility to enable the students to bring out the caliber of their inner capabilities and brighten their oratorical skills. Our sincere effort is to create an innate talent of confidence and accuracy in our students while interacting in English.</p>
<p><strong>Our Objectives:- </strong> </p>
<ul class="parasUl ulSquare">
  <li>To use education as a tool for continual evolution of its stake holders in the welfare of the society.</li>
  <li>Performance appraisal in the traits of problem-solving, decision making, verbal and non-verbal communication.</li>
  <li>Initiative to inculcate in students the interest to persist the fluency in spoken English</li>
</ul>
<br>
<p>Our club has paved a way towards successful interaction in English language through various activities like   |Debates| Elocution |Dramatization |Extempore |Group discussion |Open-ended stories| Recitation |Creative writing |Poster making |Projects display.</p>
<hr>
<p><strong class="colorHeader">2. DANCE AND MUSIC CLUB</strong></p>
<p><strong><em>Every festive occasion, every burst of emotion and every small and big celebration begins and concludes with music and dance.</em></strong></p>
<p><img alt="dancing" src="../../../assets/images/dancing.jpg" height="153" width="283">Music and Dance club creates in a child an innate interest through the activities related to physio-cultural programs. Vocal music, orchestra, folk styles, contemporary, solo and cluster performances are the vivid activities through which we enrich the creativity and culture in our students.</p>
<p>These activities help in revitalizing our brain and nourishing our nerves and act as recreational supplement to the daily&rsquo;s strenuous, tedious routine. We focus to improve concentration of the individuals and generate in them inter-personal bond among the peers through group practices.</p>
<hr>
<p><strong class="colorHeader">3. ROBOTICS CLUB</strong></p>
<p><img alt="robotics-club1" src="../../../assets/images/robotics-club1.jpg" height="199" width="164">ROBOT a system that contains sensors viz: light, sound, touch, ultrasonic, control system, manipulators and software all working together to perform a task.</p>
<p>Robotics club in our school introduces the children robotics at an early age. Our club crew members present major projects every year and prove to be the centre of attraction and bring the glory to <strong>PARAS VIDYA VIHAR</strong> to run such an exotic club which is the only one of its type in Madhya Pradesh.</p>
<hr>
<p><strong class="colorHeader">4. MATHS CLUB</strong></p>
<p><strong>sSTEP TOWARDS LOVING MATHEMATICS<br></strong></p>
<p>&ldquo;MATHEMATICS OH ! The greatest confusion. I would like to be hundred steps away from such a dreadful subject &ldquo;. This is the general expression of a child about Mathematics. But is Mathematics so unimpressive?</p>
<p><img alt="maths" src="../../../assets/images/maths.jpg" height="185" width="195">The motive of our Mathematics club is to eradicate this mind setup from the child&rsquo;s brain. We have come forward to wipe out this conception and create immense love and interest of Mathematics in a student.</p>
<p><strong>Objectives:-</strong></p>
<p>To avail critical understanding in the students particularly by the way of motivation, visualization of basic concepts, terms, principles, symbols.</p>
<ul class="parasUl ulSquare">
  <li>To acquaint the students with different aspects of Mathematics used in daily life.</li>
  <li>To introduce concepts and process through situations from the environment.</li>
</ul>
<hr>
<p><strong class="colorHeader">5. SCIENCE CLUB</strong></p>
<p><strong><em>Be factual, Truthful and successful.</em></strong></p>
<p>A science club is an out-of school hour&rsquo;s club that offers students the chance to perform science related activities that extend and enhance their knowledge of science and technology.</p>
<p><img alt="science" src="../../../assets/images/science.jpg" height="203" width="209">Science club could be defined as a magnificent tool to improve the culture of science learning in the school campus.</p>
<p><strong>Motive:-</strong></p>
<ul class="parasUl ulSquare">
  <li>To develop the student&rsquo;s personality and make them active and aware about the environmental issues and technology.</li>
  <li>To expose the students to various emerging new areas of science and appraise with their relevance in their application in various spheres of Science and technology.</li>
</ul>
<br>
<p>Science Exhibition |Quiz |Chart Display |Topic based Extempore | Projects are the activities conducted to create a scientific temperament in our students.</p>
<hr>
<p><strong class="colorHeader">6. ECO CLUB</strong></p>
<p><img alt="green" src="../../../assets/images/green.jpg" height="162" width="136">Through this club we would spread the awareness towards conservation and better methods of growing plants, avoiding use of polythene bags, water management and environment protection.</p>
<p>Holistic and Ecological view could be imparted in our students through various activities like Poster making, presentations, seminars, skits, competitions and plantation programmes.</p>
<p>Producing <strong>&ldquo;BEST OUT OF WASTE&rdquo;</strong> in SUPW PERIOD is our objective.</p>
<hr>
<p><strong class="colorHeader">7. ART CLUB</strong>
<img alt="527064 10151906894638755 2128801435 n" src="../../../assets/images/527064_10151906894638755_2128801435_n.jpg" height="168" width="217"><em><strong><br><br>&ldquo;USE IT UP, WEAR IT OUT AND MAKE IT DO&rdquo;</strong></em></p>
<p>ART CLUB is organised to teach the students various types of art and craft and to imbibe the fine nuances of their creativity. Different types of painting techniques, craft, drawings and calligraphy are the parts of our training. We invoke our students and boost them to create curiosity, imagination and creativity. We also mould them for promoting <strong>&ldquo;BEST OUT OF WASTE&rdquo;</strong>.</p>


</div>

<div class="py-3"></div>
<div class="py-3"></div>