<div class="container py-3">
  <hr class="featurette-divider py-3 ">
  <div class="row featureEvents">
    <div class="col-md-4 mb-4 col-sm-12 col-xs-12 d-flex align-items-stretch eve">
      <div class="card">
        <div class="card-header text-center text-white">
          <h5>Circulars</h5>
        </div>
        <div class="card-body">
          <ul class="card-text">
             <!-- <li class="py-2" *ngFor="let hero of circularItems">
            <span> {{ hero.payload.doc.data().date.toDate() | date: 'dd/MM/yyyy' }} </span>  PRANGAN - IT Quiz – Grade II – V
            </li> -->
            <li class="py-2">
                <span class="dateBox "> 01 <br> MAy</span>  PRANGAN - IT Quiz – Grade II – V
                </li>
            <div class="py-2"></div>
            <hr class="featurette-divider">
             <li class="py-2">
                <span class="dateBox "> 01 <br> MAy</span> SOPAAN - Quizzo-Quest - A GK Quiz
            </li>
            <div class="py-2"></div>
            <hr class="featurette-divider">
            <li class="py-2">
                <span class="dateBox "> 01 <br> MAy</span> SOPAAN - House Meeting
            </li>
            <div class="py-2"></div>
            <hr class="featurette-divider">
            <li>
                <span class="dateBox "> 01 <br> MAy</span> PRANGAN - Just a minute - Extempore Time
            </li>
            <div class="py-1"></div>

            <hr class="featurette-divider">
            <li class="py-2">
                <span class="dateBox "> 01 <br> MAy</span> SOPAAN - Histographia (Grades 7 and 8)
            </li>

            <!-- <li *ngFor="let hero of circularItems ">
              {{ hero.payload.doc.data().name }}
            </li>  -->


          </ul>

        </div>
        <div class="card-footer text-center text-muted">
            <a> View All </a>
          </div>
      </div>

    </div>

    <div class="col-md-4 mb-4 col-sm-12 col-xs-12 d-flex align-items-stretch eve">
      <div class="card">

        <div class="card-header text-center text-white">

          <h5>Latest News</h5>
        </div>

        <div class="card-body">

            <ul class="card-text">
                <!-- <li class="py-2" *ngFor="let hero of circularItems">
               <span> {{ hero.payload.doc.data().date.toDate() | date: 'dd/MM/yyyy' }} </span>  PRANGAN - IT Quiz – Grade II – V
               </li> -->
               <li class="py-2">
                   <span class="dateBox "> 01 <br> MAy</span>  PRANGAN - IT Quiz – Grade II – V
                   </li>
               <div class="py-2"></div>
               <hr class="featurette-divider">
                <li class="py-2">
                   <span class="dateBox "> 01 <br> MAy</span> SOPAAN - Quizzo-Quest - A GK Quiz
               </li>
               <div class="py-2"></div>
               <hr class="featurette-divider">
               <li class="py-2">
                   <span class="dateBox "> 01 <br> MAy</span> SOPAAN - House Meeting
               </li>
               <div class="py-2"></div>
               <hr class="featurette-divider">
               <li>
                   <span class="dateBox "> 01 <br> MAy</span> PRANGAN - Just a minute - Extempore Time
               </li>
               <div class="py-1"></div>
   
               <hr class="featurette-divider">
               <li class="py-2">
                   <span class="dateBox "> 01 <br> MAy</span> SOPAAN - Histographia (Grades 7 and 8)
               </li>
   
               <!-- <li *ngFor="let hero of circularItems ">
                 {{ hero.payload.doc.data().name }}
               </li>  -->
   
   
             </ul>
          
        </div>
        <div class="card-footer text-center text-muted">
            <a> View All </a>
          </div>
      </div>

    </div>

    <div class="col-md-4 mb-4 col-sm-12 col-xs-12 d-flex align-items-stretch eve">

      <div class="card">

        <div class="card-header text-center text-white">
          <i class="far fa-calendar-alt"></i>
          <h5 class="texteEllipsis" title="Upcoming events"> Upcoming events </h5>
        </div>

        <div class="card-body">
            <ul class="card-text">
                <!-- <li class="py-2" *ngFor="let hero of circularItems">
               <span> {{ hero.payload.doc.data().date.toDate() | date: 'dd/MM/yyyy' }} </span>  PRANGAN - IT Quiz – Grade II – V
               </li> -->
               <li class="py-2">
                   <span class="dateBox "> 01 <br> MAy</span>  PRANGAN - IT Quiz – Grade II – V
                   </li>
               <div class="py-2"></div>
               <hr class="featurette-divider">
                <li class="py-2">
                   <span class="dateBox "> 01 <br> MAy</span> SOPAAN - Quizzo-Quest - A GK Quiz
               </li>
               <div class="py-2"></div>
               <hr class="featurette-divider">
               <li class="py-2">
                   <span class="dateBox "> 01 <br> MAy</span> SOPAAN - House Meeting
               </li>
               <div class="py-2"></div>
               <hr class="featurette-divider">
               <li>
                   <span class="dateBox "> 01 <br> MAy</span> PRANGAN - Just a minute - Extempore Time
               </li>
               <div class="py-1"></div>
   
               <hr class="featurette-divider">
               <li class="py-2">
                   <span class="dateBox "> 01 <br> MAy</span> SOPAAN - Histographia (Grades 7 and 8)
               </li>
   
               <!-- <li *ngFor="let hero of circularItems ">
                 {{ hero.payload.doc.data().name }}
               </li>  -->
   
   
             </ul>
        </div>
        <div class="card-footer text-center text-muted">
          <a> View All </a>
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">

</div>